In [4]:
CREATE TABLE Hospital (
    hospital_pk CHAR(6) PRIMARY KEY,
    hospital_name TEXT,
    address TEXT,
    city TEXT,
    state CHAR(2),
    zip TEXT,
    fips_code CHAR(5)
);


CREATE TABLE weekly_hospital_stats (
    hospital_pk CHAR(6),
    collection_week TIMESTAMP,
    all_adult_hospital_beds_7_day_avg NUMERIC,
    all_pediatric_inpatient_beds_7_day_avg NUMERIC,
    all_adult_hospital_inpatient_bed_occupied_7_day_avg NUMERIC,
    all_pediatric_inpatient_bed_occupied_7_day_avg NUMERIC,
    total_icu_beds_7_day_avg NUMERIC,
    icu_beds_used_7_day_avg NUMERIC,
    inpatient_beds_used_covid_7_day_avg NUMERIC,
    staffed_icu_adult_patients_confirmed_covid_7_day_avg NUMERIC,
    PRIMARY KEY (hospital_pk, collection_week),
    FOREIGN KEY (hospital_pk) REFERENCES Hospital(hospital_pk)
);


CREATE TABLE hospital_quality(
    hospital_pk CHAR(6) REFERENCES hospital (hospital_pk),
    facility_name TEXT,
    type_of_hospital TEXT,
    type_of_ownership TEXT,
    emergency_services BOOLEAN DEFAULT FALSE,
    overall_quality_rating TEXT,
    rating_year INTEGER,
    PRIMARY KEY (hospital_pk, rating_year)
);

In [3]:
-- if you want to drop these

DROP TABLE hospital CASCADE;
DROP TABLE weekly_hospital_stats CASCADE;
drop table hospital_quality CASCADE;