Exercise 4.2

In [2]:
-- Players table
CREATE TABLE players (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    birth_date DATE
);

-- Teams table
CREATE TABLE teams (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    city TEXT
);

-- Venues table
CREATE TABLE venues (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    city TEXT,
    capacity INTEGER
);

-- Players-Teams table
CREATE TABLE player_teams (
    id INTEGER PRIMARY KEY,
    player_id INTEGER,
    team_id INTEGER,
    start_date DATE NOT NULL,
    end_date DATE,
    FOREIGN KEY (player_id) REFERENCES players(id),
    FOREIGN KEY (team_id) REFERENCES teams(id)
);

-- Games table
CREATE TABLE games (
    id INTEGER PRIMARY KEY,
    home_team_id INTEGER,
    away_team_id INTEGER,
    venue_id INTEGER,
    game_date DATE NOT NULL,
    home_score INTEGER,
    away_score INTEGER,
    FOREIGN KEY (home_team_id) REFERENCES teams(id),
    FOREIGN KEY (away_team_id) REFERENCES teams(id),
    FOREIGN KEY (venue_id) REFERENCES venues(id)
);

Exercise 4.3

In [3]:
SELECT e.moment, e.persona, e.score 
FROM events e
JOIN personae p ON e.persona = p.id
WHERE p.account_balance < 0::money
LIMIT 10;

SELECT e.moment, e.persona, e.score
FROM events e
JOIN personae p ON e.persona = p.id
LIMIT 10;

moment,persona,score
2015-02-08 06:08:19.023914,1202,376
2015-02-10 04:36:50.351372,1193,914
2015-02-14 10:04:45.21452,1162,849
2015-02-06 11:13:57.207127,1180,411
2015-03-06 11:55:25.404453,1197,483
2015-02-23 09:33:15.771217,1200,848
2015-02-02 00:58:51.281376,1236,923
2015-01-24 00:41:27.107277,1174,744
2015-01-29 14:48:57.837696,1236,47
2015-01-28 16:08:37.678356,1155,632

moment,persona,score
2015-02-08 06:08:19.023914,1202,376
2015-01-31 15:57:44.714527,1168,887
2015-03-02 17:56:15.731277,1189,459
2015-02-10 04:36:50.351372,1193,914
2015-01-23 07:36:21.692505,1192,82
2015-02-25 04:10:03.322792,1210,191
2015-02-14 10:04:45.21452,1162,849
2015-01-31 08:27:51.924305,1212,836
2015-02-04 12:13:21.023483,1187,123
2015-02-06 11:13:57.207127,1180,411

Exercise 4.4

In [5]:
-- Calculate averages per persona
SELECT e.id, e.persona, e.element, e.score, (e.score - avg_score) / std_score AS z_score
FROM events e
JOIN (SELECT persona, AVG(score) as avg_score, STDDEV(score) as std_score FROM events GROUP BY persona) as stats ON e.persona = stats.persona
LIMIT 10;

id,persona,element,score,z_score
1,1202,29407,376,-0.10051012454878860544
2,1168,29391,887,1.1311577685743946
3,1189,29410,459,-0.39094904870582227618
4,1193,29429,914,1.2251363902194172
5,1192,29364,82,-1.2529156544165868
6,1210,29357,191,-0.59610721955642245143
7,1162,29420,849,1.0509473158193312
8,1212,29371,836,0.90702700089873844082
9,1187,29379,123,-1.3363792742171923
10,1180,29415,411,-0.37087076320596595753

Exercise 4.5

In [10]:
-- Part 1: Score difference from element average
SELECT persona, element, score,
      score - AVG(score) OVER (PARTITION BY element) as diff_from_avg
FROM events
LIMIT 10;

-- Part 2: Rank student scores
SELECT persona, element, score,
      RANK() OVER (PARTITION BY element ORDER BY score DESC) as RANK
FROM events
LIMIT 10;

persona,element,score,diff_from_avg
1183,29349,58,-273.3750000000000000
1225,29349,718,386.6250000000000000
1156,29349,193,-138.3750000000000000
1193,29349,24,-307.3750000000000000
1208,29349,312,-19.3750000000000000
1186,29349,475,143.6250000000000000
1232,29349,382,50.6250000000000000
1220,29349,489,157.6250000000000000
1242,29350,81,-450.3636363636363636
1199,29350,925,393.6363636363636364

persona,element,score,rank
1225,29349,718,1
1220,29349,489,2
1186,29349,475,3
1232,29349,382,4
1208,29349,312,5
1156,29349,193,6
1183,29349,58,7
1193,29349,24,8
1199,29350,925,1
1247,29350,895,2

Exercise 5.2

In [1]:
import psycopg

conn = psycopg.connect(
    dbname="njacimov",
    user="njacimov",
    password="Vj2A0rxBtk",
    host="pinniped.postgres.database.azure.com"
)

cur = conn.cursor()
    
''' Because using with, do not need to conn.commit and conn.close '''

with conn_transaction():
    try:
        cur.execute("INSERT INTO events (id, persona, element, score)"
                    "VALUES('phone#', '415','420','2140')")
    except Exception as e:
        print(f"Error: {str(e)}")

: syntax error at or near "psycopg"