- Exercise 3.5

In [7]:
SELECT * FROM gems LIMIT 10;

UPDATE gems
SET label = 'thin'
WHERE facets < 10;

UPDATE gems
SET label = 'wow',
    price = CAST('100.0' AS money)
WHERE facets > 20;

DELETE FROM gems
WHERE facets < 4;

: relation "gems" does not exist

- Exercise 3.6

In [12]:
CREATE TABLE students (
    student_id SERIAL PRIMARY KEY,
    student_name VARCHAR(100) NOT NULL,
    date_of_birth DATE CHECK (date_of_birth < CURRENT_DATE),
    orientation_completed BOOLEAN DEFAULT FALSE,
    tuition NUMERIC CHECK (tuition > 0),
    scholarship NUMERIC DEFAULT 0 CHECK (scholarship < tuition)
);

: relation "students" already exists

In [15]:
INSERT INTO students (student_name, date_of_birth, tuition, scholarship)
VALUES 
    ('Nicco Jacimovic', '2001-11-18', 10000, 2000),
    ('Marco Jacimovic', '2001-11-18', 12000, 3000),
    ('Alessandra Jacimovic', '1999-12-26', 15000, 0);

In [16]:
INSERT INTO students (student_name, date_of_birth, tuition, scholarship)
VALUES ('Future Student', '2025-01-01', 0, 10000);

: new row for relation "students" violates check constraint "students_check"

- Exercise 3.7

In [1]:
CREATE TABLE a (id SERIAL PRIMARY KEY, name TEXT);
INSERT INTO a (name)
       VALUES ('Pirate'),
              ('Monkey'),
              ('Ninja'),
              ('Flying Spaghetti Monster');

In [2]:
CREATE TABLE b (id SERIAL PRIMARY KEY, name TEXT);
INSERT INTO b (name)
       VALUES ('Rutabaga'),
              ('Pirate'),
              ('Darth Vader'),
              ('Ninja');

In [3]:
SELECT a.name
FROM a
LEFT JOIN b ON a.name = b.name
WHERE b.name IS NULL;

name
Monkey
Flying Spaghetti Monster

In [4]:
SELECT a.name
FROM a
LEFT JOIN b ON a.name = b.name
WHERE b.name IS NULL

UNION

SELECT b.name
FROM b
LEFT JOIN a ON b.name = a.name
WHERE a.name IS NULL;

name
Rutabaga
Flying Spaghetti Monster
Darth Vader
Monkey

- Exercise 3.8

In [1]:
SELECT 
    events.id AS event_id,
    events.score,
    CONCAT(personae.firstname, ' ', personae.lastname) AS student_name,
    personae.birthdate,
    elements.points_max AS max_points_possible
FROM 
    events
JOIN 
    personae ON events.persona = personae.id
JOIN 
    elements ON events.element = elements.id
LIMIT 10;

event_id,score,student_name,birthdate,max_points_possible
1,376,Monica Rodriguez,1989-07-04,0
2,887,Sherry Mcmillian,1989-03-13,3
3,459,Wilson Henderson,1987-12-08,7
4,914,Laura Almy,1988-01-07,4
5,82,Heather Peabody,1987-12-23,1
6,191,Teri Crowley,1988-10-26,7
7,849,Benny Giglio,1989-07-03,4
8,836,Patricia Innis,1989-08-19,3
9,123,Dustin Stewart,1988-07-24,1
10,411,Brett Rodriguez,1989-01-12,1

In [25]:
SELECT 
    events.id AS event_id,
    events.score,
    CONCAT(personae.firstname, ' ', personae.lastname) AS student_name,
    personae.birthdate,
    elements.points_max AS max_points_possible
FROM 
    events
JOIN 
    personae ON events.persona = personae.id
JOIN 
    elements ON events.element = elements.id
WHERE 
    events.score > elements.points_max
LIMIT 10;

event_id,score,student_name,birthdate,max_points_possible
1,376,Monica Rodriguez,1989-07-04,0
2,887,Sherry Mcmillian,1989-03-13,3
3,459,Wilson Henderson,1987-12-08,7
4,914,Laura Almy,1988-01-07,4
5,82,Heather Peabody,1987-12-23,1
6,191,Teri Crowley,1988-10-26,7
7,849,Benny Giglio,1989-07-03,4
8,836,Patricia Innis,1989-08-19,3
9,123,Dustin Stewart,1988-07-24,1
10,411,Brett Rodriguez,1989-01-12,1

In [26]:
SELECT 
    elements.id AS element_id
FROM 
    elements
LEFT JOIN 
    events ON elements.id = events.element
WHERE 
    events.element IS NULL
LIMIT 10;

element_id
29344
29318
29319
29440
29339
29327
29326
29331
29449
29316

In [27]:
SELECT 
    elements.id AS element_id,
    AVG(events.score) AS average_score
FROM 
    elements
JOIN 
    events ON elements.id = events.element
GROUP BY 
    elements.id
LIMIT 10;

element_id,average_score
29408,572.2666666666666667
29430,588.0000000000000000
29399,543.8750000000000000
29425,510.7500000000000000
29392,432.3636363636363636
29390,534.6666666666666667
29362,583.2000000000000000
29369,571.5714285714285714
29357,481.7000000000000000
29400,525.1666666666666667

In [2]:
SELECT 
    SUM(events.score) AS total_score
FROM 
    events
JOIN 
    personae ON events.persona = personae.id
WHERE 
    personae.birthdate > '1988-06-01';

total_score
255629

- Exercise 4.1

In [35]:
CREATE TABLE Artist (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    year_of_birth INT
);

: relation "artist" already exists

In [34]:
CREATE TABLE RecordLabel (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    street_address VARCHAR(255),
    city VARCHAR(255),
    state_name VARCHAR(255),
    state_abbrev CHAR(2),
    zip VARCHAR(10)
);

: relation "recordlabel" already exists

In [33]:
CREATE TABLE Album (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    label_id INT REFERENCES RecordLabel(id),
    artist_id INT REFERENCES Artist(id)
);

: relation "album" already exists

In [37]:
CREATE TABLE Song (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    duration TIME
);

: relation "song" already exists

In [38]:
CREATE TABLE Track (
    id SERIAL PRIMARY KEY,
    song_id INT REFERENCES Song(id),
    album_id INT REFERENCES Album(id),
    track_index INT
);